<h1>Flexible Payment</h1>
<p>A <%= @my_years %> year loan of <%= number_to_currency(@my_principal) %>, with an annual interest rate of <%= '%.2f' % @my_apr %>%, requires a monthly payment of <%= number_to_currency(@my_payment) %>.</p>
