<h1>Square Calculation</h1>
<form action="/square/results">
  <label for="sq_input">Enter a number</label>
  <input type="text" name="user_num" id="sq_input">
  <button>Calculate square</button>
</form>
