<h1>Payment Results</h1>
<div>APR</div>
<%= '%.4f' % @my_apr %>%
<div>Number of years</div>
<%= @my_years %>
<div>Principal</div>
<%= number_to_currency(@my_principal) %>
<div>Payment</div>
<%= number_to_currency(@my_payment) %>
